In [1]:
#standard arithmetical operations
10+5*3

25

In [2]:
(10+5)*3

45

In [3]:
20/4

5.0

In [4]:
20//4

5

In [5]:
21//4

5

In [6]:
21%4

1

In [7]:
2**5

32

In [9]:
#operator presedence
5+3*2-8/4**2 #so the consistency is like; Exponentation, multiplication and division, addition and subtraction and the output will be 10.5

10.5

In [ ]:
#comparison operators
#Is 50 greater than 100?
50>100
#Is 33 equal to 33.0?
33==33.0
#Is "hello" not equal to "world"?
"hello"!= 'world'
#Is the length of "python" greater than or equal to 5?
len("python")>= 5

In [13]:
#Create a variable named city and assign it the value "New York".
city= 'New York'
print(city)
city= "London"
print(city)

New York
London

In [15]:
#Create a variable score with a value of 100.
a=100
#Using an assignment operator, subtract 25 from score.
a-=25 or a=a-25
a*=2
print(a)

In [ ]:
1,2,4 #are invalid because, 1- is beggining with number, 2 contains punctuation mark and 4- contains python function so thats why we cant use it as veriable

In [ ]:
# data types
1. integar
2. string
3. float
4. boolean
5. none type

In [ ]:
#1
price_str = "25.99"
price_float= float("25.99")
#2
quantity = 3
string(quantity)
#3
string(quantity)+ "items"

In [19]:
first_name= "Aynur"
last_name = "Poladova"
full_name= "Aynur Poladova"
separator = '-' *30
print(full_name)
print(separator)

Aynur Poladova
------------------------------

In [20]:
text = "The file is located at:\nC:\\Users\\new_folder\\tabbed_file.txt\nHe said, \"It's a beautiful day.\""
print(text)

The file is located at:
C:\Users\new_folder\tabbed_file.txt
He said, "It's a beautiful day."

In [ ]:
s = "Programming is fun!"
#index 4 is r
#last character; 4
#space and i so, ' i'
#[2:7]
#[::-1]

In [22]:
tweet = "  WOW, what a great game! #sports #python  "
print(tweet.lower())

  wow, what a great game! #sports #python

In [26]:
#dont know how to do it

WOW, what a great game! #sports #DataScience

In [ ]:
hashtag = "#DataScience"
print(f'WOW, what a great game! #sports {hashtag}')

In [27]:
tweet = "  WOW, what a great game! #sports #python  "
print(tweet.split())

['WOW,', 'what', 'a', 'great', 'game!', '#sports', '#python']

In [ ]:
a=input('adinizi daxil edin:')
print(a)

In [ ]:
print("Hello, " + input('name'))

In [ ]:
a= int(input('enter your current year'))
b = int(input('enter your birth year'))
print("your age is:", a-b)

In [ ]:
item = "Laptop"
price = 1200.50
quantity = 2
total_cost= price*quantity
print(f" Item: {item}, Quantity: {quantity}, Total cost: {total_cost}")